* {
    box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
    font-family: sans-serif;
    padding: 20px;
    background: gray;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: red;
}

    